{
  "authHost": "{{ default .Env.APP_URL "http://127.0.0.1" }}",
  "authEndpoint": "/broadcasting/auth",
  "clients": [],
  "database": "redis",
  "databaseConfig": {
    "redis": {
      "host": "{{ default .Env.REDIS_HOST "127.0.0.1" }}",
      "port": "{{ default .Env.REDIS_PORT "6379" }}",
      "options": {
        "db": {{ default .Env.REDIS_DB_BACKJOBS "0" }}
      }
    },
    "sqlite": {
      "databasePath": "/app/database/laravel-echo-server.sqlite"
    }
  },
  "devMode": {{ default .Env.APP_DEBUG "false" }},
  "host": "{{ default .Env.LES_HOST "0.0.0.0" }}",
  "port": "{{ default .Env.LES_PORT "6001" }}",
  "protocol": "http",
  "socketio": {},
  "apiOriginAllow": {
    "allowCors": true,
    "allowOrigin": "{{ default .Env.APP_URL "http://127.0.0.1" }}",
    "allowMethods": "GET, OPTION, POST",
    "allowHeaders": "Accept, Authorization, Content-Type, Origin, X-Auth-Token, X-CSRF-TOKEN, X-Requested-With, X-Socket-Id"
  }
}
